		/* define table skin */
		table.grid {
			margin: 0;
			padding: 0;
			border-collapse: separate;
			border-spacing: 0;
			width: 100%;
		}
		
		table.grid * {
			font-size: 11px;
			vertical-align: top;
			text-align: left;
		}
		
		/*
		table.grid thead, table.grid .collapsible {
			background-color: #e6edc1;
		}
		*/
		/* use the below style below to hide the collapsed rows via CSS, you must also set the showCollapsed setting to true */		
/*
		table.grid tr.expand-child td {
			display: none;
		}
*/
		table.grid thead{
			background-color:#069;
		}

		table.grid th {
			color: #000;
			padding: 4px 16px 4px 0;
			cursor: pointer;
		} 
		
		table.grid td ,table.grid .collapsible{
			color: #000;
			line-height:20px;
			padding-left:20px;
			vertical-align:middle;
			border-right:1px solid #bbb;
		}

		table.grid td  a,table.grid .collapsible a{
			color: #000;
			font-weight:normal;
			font-size:8pt;
		}

		
		table.grid th.headerSortUp {
			background: #069 url(../syspics/tablesorter_bkgrd.png) no-repeat 100% -80px;
		}
		
		table.grid th.headerSortUp span {
			background: #069 url(../syspics/tablesorter_bkgrd.png) no-repeat 0 -80px;
		}
		
		table.grid th.headerSortDown {
			background: #069 url(../syspics/tablesorter_bkgrd.png) no-repeat 100% 2px;
		}
		
		table.grid th.headerSortDown span {
			background: #069 url(../syspics/tablesorter_bkgrd.png) no-repeat 0 2px;
		}
		
		table.grid th span {
			padding: 4px 0 4px 6px;
			font-weight: bold;
		}
		
		table.grid a:link,
		table.grid a:visited,
		table.grid a:focus,
		table.grid a:hover {
			color: #565770;
			font-weight: bold;
			text-decoration: underline;
		}
		
		table.grid a:hover {
			color: #d07c57;
		}
		
		table.grid tr.even {
			background-color: #f0f0f0;
		}
		
		/* expand/collapse */
		table.grid .collapsible {
			padding: 0 0 3px 0;
		}

		.collapsible a.collapsed {
			/*
			margin: 2px;
			display: block;
			width: 15px;
			height: 15px;
			background: url(./tablesorter_expand.png) no-repeat 3px 3px;
			outline: 0;
			*/
		}
		
		.collapsible a.expanded {
			/*
			margin: 2px;
			display: block;
			width: 15px;
			height: 15px;
			background: url(./tablesorter_expand.png) no-repeat -24px 3px;
			outline: 0;
			*/
		}
		
